<template>
  <v-container>
    <v-row >
      <v-col md="3" class="text-center">
        <v-img
          max-height="150"
          max-width="250"
          src="../assets/person1.jpg"
        ></v-img>
        <v-btn
          color="primary"
          dark
          @click.stop="openDailog(1)"
          class="mr-3"
        >
          user 1
        </v-btn>
      </v-col>
      <v-col md="3" class="text-center">
        <v-img
          max-height="150"
          max-width="250"
          src="../assets/person1.jpg"
        ></v-img>
        <v-btn
          color="primary"
          dark
          @click.stop="openDailog(2)"
          class="mr-3"
        >
          user 2
        </v-btn>
      </v-col>
      <v-col md="3" class="text-center">
        <v-img
          max-height="150"
          max-width="250"
          src="../assets/person1.jpg"
        ></v-img>
        <v-btn
          color="primary"
          dark
          @click.stop="openDailog(3)"
          class="mr-3"
        >
          user 3
        </v-btn>
      </v-col>
      <v-col md="3" class="text-center">
        <v-btn
          :loading="loading"
          color="secondary"
          dark
          @click.stop="downloadDOCS"
          class="mr-3"
        >
          download
        </v-btn>
      </v-col>

      <v-dialog
        v-model="dialog"
        max-width="600"
      >
        <v-card>
          <v-card-title class="headline">
            Draw your signature
          </v-card-title>
          <template v-for="(item , i ) in items">
            <div :key="i">
              <v-card-text style="height:240px !important">
                <img :src="renderImge(item.pic)" v-if="item.pic != ''">
                <canvas v-show="item.pic == ''" id="myCanvas" :width="w" :height="h" @mousemove="draw" @mousedown="beginDrawing" @mouseup="stopDrawing" />
              </v-card-text>

              <v-card-actions>
                <v-btn color="primary" text class="mr-3" @click="dialog = false">cancel</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary" class="mr-3" @click="renew(item.id)" v-show="item.pic != ''">Remove</v-btn>
                <v-btn color="error" class="mr-3" @click="clear" :disabled="item.pic == '' ? false : true">Clear</v-btn>
                <v-btn color="success" class="mr-3" @click="save(item.id)" :disabled="item.pic == '' ? false : true">Save</v-btn>
              </v-card-actions>
            </div>
          </template>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>

<script>
  import axios from 'axios';
  export default {
    name: 'HelloWorld',
    data: () => ({
      canvas: null,
      dialog: false,
      ctx: null,
      x: 0,
      y: 0,
      w: 400,
      h: 200,
      isDrawing: false,
      items: null,
      loading: false,
    }),
    mounted() {
    
    },
    watch:{
      dialog(val){
        val || this.clear()
      }
    },
    methods: {
      async openDailog(id){
        this.dialog = true
        await this.getSign(id)
        setTimeout(() => {
          var c = document.getElementById("myCanvas");
          this.canvas = c.getContext('2d');
        }, 100);

      },
      drawLine(x1, y1, x2, y2) {
        this.ctx = this.canvas;
        this.ctx.beginPath();
        this.ctx.strokeStyle = 'black';
        this.ctx.lineWidth = 1;
        this.ctx.moveTo(x1, y1);
        this.ctx.lineTo(x2, y2);
        this.ctx.stroke();
        this.ctx.closePath();
      },
      draw(e) {
        if(this.isDrawing) {
          this.drawLine(this.x, this.y, e.offsetX, e.offsetY);
          this.x = e.offsetX;
          this.y = e.offsetY;
        }
      },
      renew(id){
        console.log(id);
        axios.post(`http://localhost:80/free-draw/removeSign.php`, { id : id } )
        .then(response => {
          var res = response.data
          if (res.status === 1) {
            this.getSign(id)
            this.clear()
          }else{
            alert(res.message)
          }
        })
        .catch(e => {
          alert(e)
        })
      },
      clear(){
        if (this.ctx) this.ctx.clearRect(0, 0, this.w, this.h);
        // document.getElementById("myCanvas").style.display = "none";
      },
      getSign(id){
        axios.post(`http://localhost:80/free-draw/getSign.php`, { id : id } )
        .then(response => {
          var res = response.data
          if (res.status === 1) {
            this.items = res.data
            console.log(this.items);
          }else{
            alert(res.message)
            this.items = []
          }
        })
        .catch(e => {
          alert(e)
        })
      },
      save(id){
        var canvas = document.querySelector('#myCanvas');
        const dataURL = canvas.toDataURL()
         axios.post(`http://localhost:80/free-draw/storeImage.php`, { 
           image : dataURL,
           id : id  
        })
        .then(response => {
          var res = response.data
          if (res.status === 1) {
            alert(res.message)
          }else{
            alert(res.message)
          }
          this.getSign(id)
        })
        .catch(e => {
          alert(e)
        })
      },
      beginDrawing(e) {
        this.x = e.offsetX;
        this.y = e.offsetY;
        this.isDrawing = true;
      },
      stopDrawing(e) {
        if (this.isDrawing) {
          this.drawLine(this.x, this.y, e.offsetX, e.offsetY);
          this.x = 0;
          this.y = 0;
          this.isDrawing = false;
        }
      },
      renderImge(src){
        return `http://localhost:80/free-draw/images/${src}`
      },
      forceFileDownload(response){
        var item = {
          "url" : "http://localhost:80/free-draw/"+ response.url,
          "label" : "docs.pdf"
        }
        this.downloadItem(item)
      },
      downloadItem ({ url, label }) {
        axios.get(url, { responseType: 'blob' })
          .then(response => {
            const blob = new Blob([response.data], { type: 'application/pdf' })
            const link = document.createElement('a')
            link.href = URL.createObjectURL(blob)
            link.download = label
            link.click()
            URL.revokeObjectURL(link.href)
          }).catch(console.error)
      },
      downloadDOCS(){
        this.loading = true
         axios.post(`http://localhost:80/free-draw/downloadDocs.php`, {})
        .then(response => {
          var res = response.data
          this.loading = false
          if (res.status === 1) {
            alert(res.message)
            this.forceFileDownload(res)
          }else{
            alert(res.message)
          }
          this.clear()
        })
        .catch(e => {
          alert(e)
        })
      }
    },
  }
</script>

<style>
  #myCanvas {
    border: 1px solid grey;
  }
</style>